{% extends 'base.html.twig' %}
{% block content %}
<div id="append_container"></div>
<form id="form">   
<input id="interact" />
<input id="bt_submit" type="submit" value="Enter" />
</form>
<script src="{{ asset('js/input.js') }}"></script>
{% endblock %}
